# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual environment
venv/

# Data files (raw and generated)
old/data/*.csv
!old/data/stations_geolocated.csv
!old/data/sample_bike_trips.csv
old/data/clients/*
old/data/clients_randomized/*
!old/data/clients/client_1190.csv
!old/data/clients/client_1219.csv


# Allow small client files only if needed
# (you can uncomment the next line if you want to exclude them later)
# data/clients/*.csv

# Logs or temporary output
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
